**/__pycache__/*
**/._*
*.egg-info/
src/pySEA/sea_eco/*
src/pySEA/sea_pearl/*
src/pySEA/sea_sand/*
src/pySEA/py.typed
src/pySEA/ai_wiki/sea_eco/*
src/pySEA/ai_wiki/sea_sand/*
**/__marimo__/*
plane_comparison.png
elements_sections_microscopes_*
examples/figs/*
examples/settings/old/*
docs/_build/doctrees/
